@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* CSS FOR SWIPER */
.swiper-pagination-clickable .swiper-pagination-bullet {
  background-color: #A2A09D;
}

.swiper-button-clickable .swiper-button-prev {
  color: #ff9900 !important;
}
